* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    transition: 0.5s;
    background-color: #000000;
    color: white;
}

header {
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 4rem;
}

#spotify-logo {
    width: 150px;
}

.mode-container {
    position: relative;
}

#themeIcon {
    font-size: 25px;
    cursor: pointer;
}

#toggle-paragraph {
    display: none;
    font-size: 13px;
    position: absolute;
    top: -1rem;
    right: -2.5rem;
    width: 115px;
}

@media (max-width:768px) {
    header {
        padding: 0 3rem 0 1rem;
    }
}

#nav-line {
    width: 100%;
    border-top: 0.5px solid #dfdcdc;
}

/* Login Section */

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem 0rem 2rem;
    position: relative;
}

#validationMessage {
    background-color: #ff0000;
    color: #ffffff;
    width: 30rem;
    padding: 15px;
    margin: 15px 0;
    font-weight: 600;
    display: none;
}

.email-container {
    display: flex;
    flex-direction: column;
}

#email,
#password-elements {
    outline: none;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #757676;
    border-radius: 8px;
    width: 30rem;
    padding: 14px 15px;
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 500;
}

#password-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#login-password {
    background-color: transparent;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    width: 80%;
}

#eye-icon {
    color: #ff0000;
}

label {
    font-weight: bold;
}

a {
    color: #000000;
    font-weight: 600;
    margin: 12px 0px;
}

#checkbox-login-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#checkbox-login-container p {
    font-size: 14px;
    font-weight: 600;
}

#check-box {
    width: 16px;
    height: 16px;
    accent-color: #169b45;
}

input[type="checkbox"]:focus {
    outline: 2.5px solid black;
    outline-offset: 4px;
}

#login-btn {
    background-color: #1ed760;
    width: 7rem;
    padding: 13px 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.bottom-line {
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid #d9dadc;
    width: 470px;
}

#sign-up-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

#signup-btn {
    width: 30rem;
    padding: 12px 0px;
    margin-top: 25px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 50px;
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: transparent;
    color: #757676;
    border: 1px solid #757676;
    text-transform: uppercase;
}

@media (max-width: 550px) {

    #signup-btn,
    #email,
    #password-elements,
    #validationMessage,
    .bottom-line {
        width: 90vw;
    }
}

/* Captcha */

.recaptcha-section {
    position: absolute;
    right: 0;
    bottom: -4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outside-recaptcha {
    width: 80px;
    height: 60px;
    box-shadow: #757676 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
}

.outside-recaptcha img {
    width: 40px;
}

.outside-recaptcha p {
    font-size: 9px;
    color: #757676;
}

.inside-recaptcha {
    background-color: #1877f2;
    color: #ffffff;
    height: 60px;
    width: 200px;
    padding-top: 10px;
    padding-left: 15px;
    position: absolute;
    right: 0;
    transition: 0.5s ease-in-out;
}

.inside-recaptcha {
    opacity: 0;
}

.recaptcha-section:hover .inside-recaptcha {
    opacity: 1;
    transform: translate(0%);
}

.recaptcha-section:hover .outside-recaptcha {
    transform: translate(-250%);
}


.inside-span {
    font-size: 14px;
}

.re-cap-span {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.re {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.inside-recaptcha p {
    font-size: 11px;
    padding-top: 4px;
}

/* Hover Efect */

.forgot-paragraph {
    margin-bottom: 1rem;
}

.forgot-paragraph:hover {
    color: #169b45;
}

#login-btn:hover {
    transform: scale(1.05);
}